<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>University Registrar</title>
    </head>
    <body>
        <h1>University Registrar</h1>
        {% block content %}
            <h2><a href="/courses">Add or view courses</a></h2>
            <h2><a href="/students">Add or view students</a></h2>
        {% endblock %}
    </body>
</html>
